/*! Place your custom styles here */


h1,.h1 {
  font-size: 10em;
  text-align: center;
  font-family:'FuturaPT-Bold', sans-serif;
  font-weight: 700;
  color: #191c1f;
}

h2,.h2 {
  font-family: 'FuturaPT-Bold', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #191c1f;
  margin-bottom: 1em;

}
.heading-block h2 {
  margin-bottom: 1em;
}

h3,.h3 {
  font-family: 'FuturaPT-Bold', sans-serif;
  font-weight: 500;
  color: #191c1f;
  margin-top: 1em;
}

h4,.h4 {
  font-family: 'FuturaPT-Bold', sans-serif;
  font-weight: 700;
  color: #191c1f;
}

.lead {
  font-size: 1.4em;
  font-weight: 300;
  color:#191c1f;
}

article .article__body p, article .article__body ul {
  color:#191c1f;
}

.bg--dark:not(.nav-bar):not(.bar) ul {
  color:#ffffff;
}

label {
  font-size: 1em;
}

.imagebg:not(.image--light) h1 {
  font-family:'FuturaPT-Bold', sans-serif;
  font-weight: 700;
  color: #191c1f;
}

.imagebg:not(.image--light) p {
 color: #191c1f
}

.text-center {
  padding-bottom: 0em;
}

.bar .logo {
max-height: 3em;
}

.divider {
  display: block;
  height: 5px;
  border: 0;
  border-top: 5px solid #64dcbb;
  margin: 1em 0;
  padding: 0;
  width: 70px

}

hr.short {
    border-color: #64dcbb;
}

.color--primary {
  color: #64DCBB !important;
}

a {
  color: #64DCBB;
}

.color--dark {
  color: #272727;
}

.bg--dark {
  background: #272727;
}

.bg--primary {
  background: #64DCBB;
}

.bg--white h1,
.bg--white h2,
.bg--white h3,
.bg--white h4,
.bg--white h5,
.bg--white h6,
.bg--white i {
  color: #272727;
}

.tabs li.active .tab__title {
    color: #64DCBB;
}

.tabs li.active .tab__title span {
    color: #64DCBB;
}

.btn--primary, .btn--primary:visited {
    background: #64DCBB;
    border-color: #64DCBB;
}

.btn--primary:hover {
  background: #98ecd5;
}

.btn--primary:active {
  background: #2acca0;
}
