/*! Place your custom styles here */
h1,.h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #4a4a4a;
}

h3,.h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #4a4a4a;
}

h4,.h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #4a4a4a;
}


.imagebg:not(.image--light) h1 {
  font-family:'Rubik', sans-serif;
  font-weight: 700;
  color: #4A4A4A;
}

.imagebg:not(.image--light) p {
 color: #4A4A4A
}

.text-center {
  padding-bottom: 2em;
}

.bar .logo {
max-height: 3em;
}
