/*! Place your custom styles here */
h1,.h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #191c1f;
}

h2,.h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #191c1f;
  margin-bottom: 1em;

}
.heading-block h2 {
  margin-bottom: 1em;
}

h3,.h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #191c1f;
  margin-top: 1em;
}

h4,.h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #191c1f;
}

.lead {
  font-size: 1.4em;
  font-weight: 300;
  color:#191c1f;
}

article .article__body p, article .article__body ul {
  color:#191c1f;
}

.bg--dark:not(.nav-bar):not(.bar) ul {
  color:#ffffff;
}

label {
  font-size: 1em;
}

.imagebg:not(.image--light) h1 {
  font-family:'Rubik', sans-serif;
  font-weight: 700;
  color: #191c1f;
}

.imagebg:not(.image--light) p {
 color: #191c1f
}

.text-center {
  padding-bottom: 0em;
}

.bar .logo {
max-height: 3em;
}
